<h3>Page: index</h3>

<p>URL for path1, locale: en => <%= url_for '/path1.html', locale: :en %></p>
<p>URL for path1, locale: es => <%= url_for '/path1.html', locale: :es %></p>
<p>URL for path2, locale: en => <%= url_for '/path2.html', locale: :en %></p>
<p>URL for path2, locale: es => <%= url_for '/path2.html', locale: :es %></p>
